#blanket {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000050;
  z-index: 998;
}

.popup {
  position: absolute;
  z-index: 999;
  width: 420px;
  height: 420px;
  background-color: var(--raisin);
  left: calc(50% - 210px);
  top: calc(50% - 210px);
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup > form {
  display: inline-block;
  /* background-color: red; */
  height: 100%;
}

.popup h2 {
  color: var(--sugar);
}

input[type="submit"] {
  display: block;
  padding: 10px;
  background-color: var(--raisin);
  color: var(--sugar);
  border-radius: 18px;
  font-size: medium;
  cursor: pointer;
  corner-shape: squircle;
  outline: 2px solid var(--sugar);
  outline-offset: -2px;
}
input[type="submit"]:hover {
  color: var(--apple);
}

input[type="submit"]:active {
  color: var(--mint);
  outline: 2px solid var(--mint);
  outline-offset: -2px;
}

input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
}
